@media (max-width: 768px) {
  .wp-block-buttons.alignleft .wp-block-button {
    margin-top: 10px;
  }
}

.wp-block-button__link {
  margin-top: 10px;
}

.wp-block-coblocks-hero {
  display: none;
}

.wp-block-gallery-2 {
  display: none !important;
}

#i-have-worked-with {
  display: none;
}

#education {
  display: none;
}

.wp-block-jetpack-layout-grid {
  display: none;
}

@media screen and (max-width: 800px) {
  .soaked {
    padding-left: 30% !important;
  }
  .kpmg {
    padding-left: 25% !important;
  }
  .nba {
    padding-left: 17% !important;
  }
  .science {
    padding-left: 30% !important;
  }
}
