@media (max-width: 768px) {
  .wp-block-buttons.alignleft .wp-block-button {
    margin-top: 10px;
  }
}

.wp-block-button__link {
  margin-top: 10px;
}

.wp-block-coblocks-hero {
  display: none;
}

.wp-block-gallery-2 {
  display: none !important;
}

#i-have-worked-with {
  display: none;
}

#education {
  display: none;
}

.wp-block-jetpack-layout-grid {
  display: none;
}
